<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/encheres">Articles</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')" >
                            <a class="nav-link" href="/categories">Catégories</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated() and hasRole('ROLE_SUPER_ADMIN')" >
                            <a class="nav-link" href="/admin">Adminitration</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link btn btn-primary text-white ms-2" th:href="@{/auth}">Connexion</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{/profile}">Mon Profil</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form class="nav-item" th:action="@{/deconection}" method="post">
                                <button type="submit" class="nav-link btn btn-primary text-white ms-2">Déconnexion</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

</div>

